<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcomeadmin!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div>
                <a  href="{{ path('app_register') }}">Register</a>
            </div>
{% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
